@page
@model MaineCoon.Pages.DataInput.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>StudentScore</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="StudentScore.T" class="control-label"></label>
                <input asp-for="StudentScore.T" class="form-control" />
                <span asp-validation-for="StudentScore.T" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StudentScore.G" class="control-label"></label>
                <input asp-for="StudentScore.G" class="form-control" />
                <span asp-validation-for="StudentScore.G" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StudentScore.UR" class="control-label"></label>
                <input asp-for="StudentScore.UR" class="form-control" />
                <span asp-validation-for="StudentScore.UR" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StudentScore.SOP" class="control-label"></label>
                <input asp-for="StudentScore.SOP" class="form-control" />
                <span asp-validation-for="StudentScore.SOP" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StudentScore.LOR" class="control-label"></label>
                <input asp-for="StudentScore.LOR" class="form-control" />
                <span asp-validation-for="StudentScore.LOR" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StudentScore.GPA" class="control-label"></label>
                <input asp-for="StudentScore.GPA" class="form-control" />
                <span asp-validation-for="StudentScore.GPA" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StudentScore.RES" class="control-label"></label>
                <input asp-for="StudentScore.RES" class="form-control" />
                <span asp-validation-for="StudentScore.RES" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
